/* 
 File: style.css
 GUI Assignment: scrabble
 Christopher Huerta
 12/17/25
 This holds my css styles for my board and rack and tiles for my scrabble game
 */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* rack */
#rack-container {
  position: relative;
  width: 640px;
  height: 160px;
  margin-bottom: 40px;
}

#rack-image {
  width: 100%;
  height: 100%;
  display: block;
}

/* Overlay where tiles sit */
#rack-overlay {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 560px;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

/* tiles */
#rack-overlay img,
.board-square img {
  width: 56px;
  height: 56px;
  box-sizing: border-box;
}


/* board */
#board-container {
  position: relative;
  width: 900px;
  height: 90px;
  margin-bottom: 40px;
}

#board-image {
  width: 100%;
  height: 100%;
  display: block;
}

#board-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.board-square {
  position: relative;
  overflow: hidden;
}

#score-display {
  margin-top: 20px;
  font-size: 18px;
}